/* Import Google fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Global <body> style */
body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #66A3D2;
}

.nav-line {
    margin-top: 20px;
    margin-left: 28px;
}
.nav-line > div {
    display: inline-block;
}
.nav-left {
}
.nav-right {
    float: right;
    display: inline;
    width: 325px;
}

#topthings > div , #topthings > div > * {
    display: inline-block;
}

#story-options > div , #story-options > div > * {
    display: inline-block;
}

.page-manage {
    float: right;
    min-width: 300px;
}

a:hover {
    color: #0B61A4;
}

/* Site <header> style */
header {
    background: #1B6FB0;
    width: 100%;
    display: inline-block;
    margin-bottom: -5px;
}

#h_left{
    padding-top: 30px;
    padding-left: 20px;
    margin-bottom: -130px;
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    z-index: 1;
}

#h_center {
    width: 100%;
    min-height: 90px;
    text-align: center;
    display: inline-block;
    color: black;
    position: relative;
    z-index: 0;
}

#h_right {
    padding-top: 20px;
    padding-right: 20px;
    margin-top: -110px;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    color: white;
}

header nav a, header nav a:visited {
    text-decoration: none;
    color: #88B9DF;
}
header nav a:hover {
    color: #FFFFFF;
}
header nav a, header nav span {
    margin-right: 10px;
}

/* Site <section> style */
section {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    border: 1px dotted #1B6FB0;
    font-family: 'Oswald', sans-seriff;
}

/* Site heading block style */
.heading {
    display: inline;
    color: #0A4878;
}

.heading2 {
    display: inline;
    margin-left: 30px;
    color: #0A4878;
}

#topthings {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#previous {
    display: inline-block;
}

/* Site body style */
#storyDescription {
    font-family: sans-seriff;
    min-height: 320px;
}

#storyDescription p {
    font-size: 30px;
    margin-top: -1%;
    margin-right: -1%;
    margin-bottom: -1%;
    margin-left: 10px;
    padding-top: 10px;
}

.button {
    padding: 2px 5px 2px 5px;
    background-color: #DDD;
    border: 1px solid #1B70B0;
    border-radius: 10px;
    color: #1B70B0;
    text-decoration: none;
    font-size: 0.9em;
}

#illustration {
    width: auto;
    float: left;
    padding-right: 10px;
    height: 300px;
}

#tree-canvas {
    margin: 0px auto 0px auto;
    padding: 0px;
    display: block;
    border: 1px solid black;
}

/* Site footer style */
footer {
    margin: 0px 30px 0px 30px;
    padding-top: 10px;
}
#djangoIcon {
    float: right;
}

.errorlist {
    display: none;
}

#storyList {
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

#nodestats {
    display: inline;
    color: #2F6188;
}

#approveform {
    display: inline;
}

/*  Page Button Styling */

.page-buttons {
    font-size: 15px;
    margin: -7px 5px;
    padding: 10px;
    text-align: center;
    color: #66A3D2;
    background-color: #1B6FB0;
    width: 119px;
    display: inline-block;
}
